In [3]:
import pandas as pd
import os

# Configuration
dataset_dir = "../data/assist2012"
csv_filename = "2012-2013-data-with-predictions-4-final.csv"

# Configuration
dataset_dir = "../data/assist2009"
csv_filename = "ASSISTments_2009_2010_skill_builder_data.csv"

In [5]:
file_path = os.path.join(dataset_dir, csv_filename)

print(f"Reading {file_path}...")

# Read the CSV
# low_memory=False helps if the file is large and types are mixed
df = pd.read_csv(file_path,
                 encoding='ISO-8859-1',
                 low_memory=False)

# 1. SHOW THE COLUMNS AND DATA
print("\n--- CSV COLUMNS ---")
print(df.columns.tolist())

print("\n--- FIRST 5 ROWS ---")
print(df.head())

# 2. COUNT UNIQUE VALUES
print("\n--- STATISTICS ---")

# Check for Problem ID
if 'problem_id' in df.columns:
    n_pid = df['problem_id'].nunique()
    print(f"Unique 'problem_id' (n_pid): {n_pid}")
else:
    print("'problem_id' column not found.")

# Check for Skill ID (could be 'skill_id', 'sequence_id', or similar)
possible_skill_cols = ['skill_id', 'sequence_id', 'skill_name']
found_skill = False
for col in possible_skill_cols:
    if col in df.columns:
        n_skill = df[col].nunique()
        print(f"Unique '{col}' (n_question): {n_skill}")
        found_skill = True

if not found_skill:
    print("Could not automatically find a skill/sequence ID column. Check the column list above.")

Reading ../data/assist2009/ASSISTments_2009_2010_skill_builder_data.csv...

--- CSV COLUMNS ---
['order_id', 'assignment_id', 'user_id', 'assistment_id', 'problem_id', 'original', 'correct', 'attempt_count', 'ms_first_response', 'tutor_mode', 'answer_type', 'sequence_id', 'student_class_id', 'position', 'type', 'base_sequence_id', 'skill_id', 'skill_name', 'teacher_id', 'school_id', 'hint_count', 'hint_total', 'overlap_time', 'template_id', 'answer_id', 'answer_text', 'first_action', 'bottom_hint', 'opportunity', 'opportunity_original']

--- FIRST 5 ROWS ---
   order_id  assignment_id  user_id  assistment_id  problem_id  original  \
0  33022537         277618    64525          33139       51424         1
1  33022709         277618    64525          33150       51435         1
2  35450204         220674    70363          33159       51444         1
3  35450295         220674    70363          33110       51395         1
4  35450311         220674    70363          33196       51481         1

   correct  attempt_count  ms_first_response tutor_mode  ... hint_count  \
0        1              1              32454      tutor  ...          0
1        1              1               4922      tutor  ...          0
2        0              2              25390      tutor  ...          0
3        1              1               4859      tutor  ...          0
4        0             14              19813      tutor  ...          3

   hint_total  overlap_time  template_id answer_id  answer_text  first_action  \
0           3         32454        30799       NaN           26             0
1           3          4922        30799       NaN           55             0
2           3         42000        30799       NaN           88             0
3           3          4859        30059       NaN           41             0
4           4        124564        30060       NaN           65             0

  bottom_hint  opportunity  opportunity_original
0         NaN            1                   1.0
1         NaN            2                   2.0
2         NaN            1                   1.0
3         NaN            2                   2.0
4         0.0            3                   3.0

[5 rows x 30 columns]

--- STATISTICS ---
Unique 'problem_id' (n_pid): 26688
Unique 'skill_id' (n_question): 123
Unique 'sequence_id' (n_question): 677
Unique 'skill_name' (n_question): 110

In [14]:
import numpy as np

df['skill_id'].unique()

array([  1.,   2.,   4.,   5.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,
        15.,  16.,  17.,  18.,  21.,  22.,  24.,  25.,  26.,  27.,  32.,
        34.,  35.,  37.,  39.,  40.,  42.,  43.,  46.,  47.,  48.,  49.,
        50.,  51.,  53.,  54.,  58.,  61.,  63.,  64.,  65.,  67.,  69.,
        70.,  74.,  75.,  76.,  77.,  79.,  80.,  81.,  82.,  83.,  84.,
        85.,  86.,  91.,  92.,  94.,  96.,  97.,  99., 101., 102., 104.,
       105., 110., 163., 165., 166., 173., 190., 193., 203., 204., 217.,
       221., 276., 277., 278., 279., 280., 290., 292., 293., 294., 295.,
       296., 297., 298., 299., 301., 303., 307., 308., 309., 310., 311.,
       312., 314., 317., 321., 322., 323., 324., 325., 331., 333., 334.,
       340., 343., 346., 348., 350., 356., 362., 365., 367., 368., 371.,
       375., 378.,  nan])

In [18]:

df[df['skill_name'].isna() & ~df['skill_id'].isna()]

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
94047,21617623,263599,14,53412,93383,1,0,1,26271,tutor,...,2,2,41131,52570,NaN,NaN,1,1.0,1,1.0
94048,21617632,263599,14,53436,93407,1,1,1,29123,tutor,...,0,2,29123,52570,NaN,82.8,0,NaN,2,2.0
94049,21617641,263599,14,53429,93400,1,0,1,13779,tutor,...,2,2,19905,52570,NaN,NaN,1,1.0,3,3.0
94050,21617650,263599,14,53448,93419,1,0,1,16901,tutor,...,2,2,22600,52570,NaN,NaN,1,1.0,4,4.0
94051,21617659,263599,14,53449,93420,1,0,1,11079,tutor,...,2,2,19704,52570,NaN,NaN,1,1.0,5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455056,23225458,265811,81773,59735,113887,0,0,2,3422,tutor,...,0,3,10125,56688,210139.0,NaN,0,NaN,5,NaN
455057,23225485,265811,81773,59735,113888,0,1,1,110610,tutor,...,0,3,110610,56688,NaN,3x^4+6x^3+10x^2+8x+10,0,NaN,6,NaN
455058,23225772,265811,81773,59728,113841,1,1,1,122734,tutor,...,0,0,122734,56688,NaN,10x^4+9x^3+7x^2+8x+8,0,NaN,7,2.0
455059,23226018,265811,81773,59704,113697,1,1,1,63469,tutor,...,0,0,63469,56591,NaN,10x^4+8x^3-8x^2-7x-9,0,NaN,8,3.0
455060,23226169,265811,81773,59731,113859,1,1,1,125563,tutor,...,0,0,125563,56688,NaN,6x^4+10x^3+10x^2+8x+5,0,NaN,9,4.0